<div class="sideBar ">
    <div class="sidebar border-end">
        <div class="sidebar-header border-bottom">
        </div>
        <ul class="sidebar-nav">
            <li class="nav-title">ADMIN</li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="catalogue">
                    <i class="nav-icon cil-speedometer"></i>Create New Product
                </a>
            </li>
            <li class="nav-title">USER</li>
            <li class="nav-item">
                <a class="nav-link active" >
                    <i class="nav-icon cil-speedometer"></i>View Catalogue
                </a>
            </li>
        </ul>
    </div>
</div>