<div class="Catalogue ">

  <div class="nav">

    <input type="text" placeholder="search" class="form"
    />
  </div>

  <table class="table ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name </th>
        <th scope="col">Description</th>
        <th scope="col">Starting Price</th>
        <th scope="col">Bidding EndTime</th>
        <th>Action</th>


      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Vehicle</td>
        <td>Make:Toyota </td>
        <td>Ksh 800,000</td>
        <td>11:00 Am</td>
        <td><button class="btn">Bid</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Vehicle</td>
        <td>Make:Mercedes</td>
        <td>Ksh 1000,000</td>
        <td>11:00 Am</td>
        <td><button class="btn">Cannot Bid</button>
        </td>
      </tr>

    </tbody>
  </table>





</div>